<div class="home-container">
  <h1>Luckie</h1>
  <p>Luckie makes task management feel lucky and effortless.<br>
  Simplify your daily routine with intuitive planning and motivational features to achieve your goals effortlessly.</p>

  <%= link_to "START", new_user_session_path, class:"btn btn-dark home-btn" %>
</div>
